version: '2'
services:
  swag_apache_testing:
    extends:
      file: docker-base.yml
      service: swag_apache
    build: ./images/build-apache-php${SWDOCKER_PHP_VERSION}${SWDOCKER_VARNISH}${SWDOCKER_IONCUBE}${SWDOCKER_XDEBUG}
    links:
      - swag_db:mysql
      - swag_smtp:smtp
      - swag_elastic:elasticsearch.localhost
      - assetgenerator
  swag_cli:
    extends:
      file: docker-base.yml
      service: swag_cli
    links:
      - swag_db:mysql
  swag_smtp:
    extends:
      file: docker-base.yml
      service: swag_smtp
  swag_db:
    extends:
      file: docker-base.yml
      service: swag_db
  swag_pma:
    extends:
      file: docker-base.yml
      service: swag_pma
    links:
      - swag_db:db
  selenium:
    build: ./images/build-selenium
    shm_size: 512M
    ports:
      - 4444:4444
      - 5900:5900
    volumes:
      - /dev/shm:/dev/shm
    links:
      - swag_apache_testing:shopware-test.localhost
  assetgenerator:
    build: ./images/build-assetgenerator
    volumes:
      - ./assetgenerator:/var/www/html
  swag_kopf:
    extends:
      file: docker-base.yml
      service: swag_kopf
    environment:
      KOPF_SERVER_NAME: kopf.localhost
      KOPF_ES_SERVERS: elasticsearch:9200
    links:
      - swag_elastic:elasticsearch
  swag_elastic:
    extends:
      file: docker-base.yml
      service: swag_elastic