version: '2.1'
services:
  swag_apache:
    build: ./images/build-apache-php${SWDOCKER_PHP_VERSION}${SWDOCKER_VARNISH}${SWDOCKER_IONCUBE}${SWDOCKER_XDEBUG}
    image: swag_apache
    ports:
      - 80:80
      - 443:443
    volumes:
      - ~/Code:/var/www/html
      - ./dnsmasq.d:/etc/dnsmasq.d
  swag_cli:
    build: ./images/build-php7-cli
    image: swag_cli
    volumes:
      - ~/Code:/var/www/html
      - ./sw-cli-tools/.config:/home/dev/.config
  swag_smtp:
    image: mailhog/mailhog
    ports:
      - 1025:1025
      - 8025:8025
  swag_db:
    build: ./images/build-mysql
    image: swag_db
    environment:
      MYSQL_ROOT_PASSWORD: toor
      MYSQL_DATABASE: shopware
      MYSQL_USER: shopware
      MYSQL_PASSWORD: shopware
    ports:
      - 3306:3306
    volumes:
      - ./mysql/conf.d:/etc/mysql/conf.d
      - ./mysql/data:/var/lib/mysql
      - ./mysql/log:/var/log/mysql_debug
  swag_pma:
    image: phpmyadmin/phpmyadmin
    ports:
      - 8181:80
    environment:
      PMA_SECRET: aMnKV11nQENOFTJDw2B7UoZbf7PlTOLp
      PMA_USER: root
      PMA_PASSWORD: toor
  swag_kopf:
    image: lmenezes/elasticsearch-kopf
  swag_elastic2:
    image: elasticsearch:2-alpine
    volumes:
      - ./elasticsearch2/config:/usr/share/elasticsearch/config
  swag_elastic5:
    image: elasticsearch:5-alpine
    volumes:
      - ./elasticsearch5/config:/usr/share/elasticsearch/config
    environment:
      ES_JAVA_OPTS: "-Xms1g -Xmx1g"
  swag_nginx:
    build: ./images/build-nginx-php7
    ports:
      - 80:80
      - 443:443
    volumes:
      - ~/Code:/var/www/html