version: '2'
services:
  swag_apache:
    build: ./images/build-apache-php7-ioncube
    ports:
      - 80:80
      - 443:443
    volumes:
      - ~/Code:/var/www/html
      - ./dnsmasq.d:/etc/dnsmasq.d
  swag_cli:
    build: ./images/build-php7-cli
    volumes:
      - ~/Code:/var/www/html
      - ./sw-cli-tools/.config:/home/dev/.config
  swag_smtp:
    image: mailhog/mailhog
    ports:
      - 1025:1025
      - 8025:8025
  swag_db:
    build: ./images/build-mysql
    environment:
      MYSQL_ROOT_PASSWORD: toor
      MYSQL_DATABASE: shopware
      MYSQL_USER: shopware
      MYSQL_PASSWORD: shopware
    ports:
      - 3306:3306
    volumes:
      - ./mysql/conf.d:/etc/mysql/conf.d
      - ./mysql/data:/var/lib/mysql
  swag_pma:
    image: phpmyadmin/phpmyadmin
    ports:
      - 8181:80
    environment:
      PMA_SECRET: aMnKV11nQENOFTJDw2B7UoZbf7PlTOLp
      PMA_USER: root
      PMA_PASSWORD: toor
  swag_elastic:
    image: elasticsearch:latest
    volumes:
      - ./elasticsearch/config:/usr/share/elasticsearch/config
    ports:
      - 9200:9200
      - 9300:9300