version: '2'
services:
  swag_apache:
    build: ./apache-php7-build
    links:
      - swag_db:mysql
      - swag_smtp:smtp
    ports:
      - 80:80
      - 443:443
    volumes:
      - ~/Code/shopware:/var/www/html
  swag_smtp:
    image: mailhog/mailhog
    ports:
      - 1025:1025
      - 8025:8025
  selenium:
    image: selenium/standalone-firefox
    ports:
      - 4444:4444
    links:
      - swag_apache:shopware.local
      - swag_db:mysql
  swag_db:
    build: ./mysql-build
    environment:
      MYSQL_ROOT_PASSWORD: toor
      MYSQL_DATABASE: shopware
      MYSQL_USER: shopware
      MYSQL_PASSWORD: shopware
    ports:
      - 3306:3306
    volumes:
      - ./mysql/conf.d:/etc/mysql/conf.d
      - ./mysql/data:/var/lib/mysql
  swag_pma:
    image: phpmyadmin/phpmyadmin
    links:
      - swag_db:db
    ports:
      - 8181:80
    environment:
      PMA_SECRET: change_this_for_security_reasons
      PMA_USER: root
      PMA_PASSWORD: toor